<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Calculator</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="html ui top attached segment" style="width: 500px; text-align: center;">
            <div class="ui attached message">
                <div class="header">
                    Calculator
                </div>
                <p>Fill out the expression below and press calculate</p>
            </div>
            <form method="POST" class="ui form attached fluid segment">
                <div class="field">
                    <div class="ui action input">
                        <input type="text" name="expr" placeholdper="Your expression here" />
                        <button class="ui yellow right labeled icon button">
                            <i class="write icon"></i>
                            Calculate
                        </button>
                    </div>
                </div>
                <div class="ui visible message" id="result"><p>Result: {{ RESULT }}</p></div>
            </form>
            <div class="ui bottom attached warning message">
                <i class="icon help"></i>
                Provided operators: + - * / ^ exp() log()
            </div>
        </div>
        {% if ERROR %}
            <div class="ui negative message" id="error" style="width: 500px;"><div class="header">Error occurred:</div><p>{{ ERROR }}</p></div>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>

    </body>
</html>