name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check Out Repo
      uses: actions/checkout@v2
    
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
    
    - name: Build and push webapp
      id: docker_build_webapp
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./DockerfileWebapp
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/calculator:webapp
      
    - name: Webapp Image digest
      run: echo ${{ steps.docker_build_webapp.outputs.digest }}
    
    - name: Build and push CLI
      id: docker_build_cli
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./DockerfileCLI
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/calculator:CLI
      
    - name: CLI Image digest
      run: echo ${{ steps.docker_build_cli.outputs.digest }}
